<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="/css/estilos.css">
    <title>Tienda en Línea</title>
</head>
<body>

<div class="navbar">
    <a href="/index.html"><i class="fas fa-home"></i>Inicio</a>
    <a href="/productos">Productos</a>
    <a href="/menus">Menús</a>
    <a href="#pedidos">Pedidos</a>
    <a href="#login">Login</a>
</div>

<div class="container mt-4">
    <div class="row">
        <!-- Iterar sobre cada menú -->
        <div th:each="menu : ${menus}" class="col-md-4 mb-4">
            <div class="card">
                <!--<img th:src="@{${menu.imagenUrl}}" class="card-img-top" alt="Imagen del Menú" th:alt="${menu.nombre}"/> -->
                <div class="card-body">
                    <h5 class="card-title" th:text="${menu.nombre}">Nombre del Menú</h5>
                    <p class="card-text" th:text="'Precio: ' + ${menu.precio}"></p>
                    <ul class="list-group list-group-flush">
                        <li th:each="producto : ${menu.productos}" class="list-group-item" th:text="${producto.nombre}"></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Fin del bloque de menú -->
    </div>
</div>
</body>
</html>